*.sw[po]
*.py[co]
.project
.pydevproject
*~
*.db
*.orig
*.DS_Store
.coverage
coverage
.vagrant
*/settings/local.py
public/static/
public/media/
conf/pillar/*/deploy
*.priv
.env
node_modules
*/static/js/bundle.js
*/static/js/vendors.js
*/static/libs/modernizr.js
*/static/css
