timeout: 60

log_file: file:///dev/log
log_level: %(loglevel)s
log_fmt_logfile: "%(logfmt)s"

state_output: mixed

fileserver_backend:
  - roots

file_roots:
  base:
    - /srv/salt
    - /srv/margarita
